@model BusinessViewModel;
@{
    ViewData["Title"] = "Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">BUSINESSES</h2>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end py-4">
            <a class="btn btn-primary" asp-controller="Business" asp-action="Create">Create</a>
        </div>
        <div class="col-12">
            <table id="businesses" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-start">Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>CreationDate</th>
                        <th>UserOwner </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var business in Model.Businesses)
                    {
                        <tr>
                            <td class="text-center">@business.Id</td>
                            <td class="align-middle">@business.Name</td>
                            <td class="align-middle">@business.Description</td>
                            <td class="align-middle">@business.CreationDate</td>
                            <td class="align-middle">@business.User.Names @business.User.Lastnames</td>
                            <td class="text-center">
                                <a class="btn btn-primary" asp-controller="Business" asp-action="Edit" asp-route-id="@business.Id">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-danger" asp-controller="Business" asp-action="Delete" asp-route-id="@business.Id" onclick="return confirm('Are you sure you want to delete this business?');">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/business.js" asp-append-version="true"></script>
}


