@model List<UserViewModel>;
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">USERS</h2>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end py-4">
            <a class="btn btn-primary" asp-controller="User" asp-action="Create">Create</a>
        </div>
        <div class="col-12 overflow-auto">
            <table id="usersTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-start">Id</th>
                        <th>Names</th>
                        <th>LastNames</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.Id</td>
                            <td class="align-middle">@user.Names</td>
                            <td class="align-middle">@user.Lastnames</td>
                            <td class="align-middle">@user.Email</td>
                            <td class="align-middle">@user.UserType.Type</td>
                            <td class="text-center">
                                <a class="btn btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete this user?');">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/users.js" asp-append-version="true"></script>
}

